@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
  
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: lato , sans-serif ;
    font-weight: 300 ;
    color: rgb(78, 13, 139);
}

/* headeer h1, h2, image */
.start{
    font-family: lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px ;
    text-align: center;
    padding: 0.1%;
    color: #dcd9e9;
    background-color: rgb(204, 10, 10);
}
 
.fimage{
    height: 500px;
    width: 100%;
    
    
}


 .menu{
  
    text-align: center;
    font-size:large;
    letter-spacing: 4px;
    
 }

 

h2{
    font-family:  lato, sans-serif;
    text-align: center;
    text-transform: capitalize;
    
}


h3 {
    font-size: xx-large;
    background-color: rgb(156, 67, 240);
    text-align: center;
    text-transform: uppercase ;
    letter-spacing: 3px;
    color: black;
    
}

h4{
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: red; 
}


h4 i{
    color: gold;
}


h5{
    text-align: center;
    font-size: large;
    color: rgb(234, 228, 228);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}


.comment1 , .comment2 , .comment3{
  font-size: xx-large;
}

footer{
    background-color: rgb(204, 10, 10);
    height: 100px;
}


.media{
  margin: auto;
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 10px;
  
  display: flex;
  justify-content: center;
  
  gap: 1em;
  
}

  
.q-page h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

  #pic{
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
  }

  #pic > img{
    width: 100%;

  }

  #li{
    text-align: left;
    float: left;
  }


  table, th, td {
    border: 1px solid;
    width: 40%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  table {
    width: 60%;
    color: #302727 ;
  }
  
  th {
    height: 40px;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
  }
  



  *{box-sizing: border-box;}

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

 .centerr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 40px;
 }

 #map-embed{
  width: 100%;
  height: 300px;
 }


 #bold {
  font-size: large;
  font-style: italic;
  color:rgb(74, 32, 113);
 }

 

 /* media queries */
/* for large to medium screen size 1450 wid and down  */
@media screen and ( max-width: 1450px) {


  .fimage{
    height: 500px;
    width: 100%;
}

.start{
  width: 100%;
  height: 80%;
}

.menu{

  width: auto 0;
  height: 100%;
  margin-top: 13px;
  
}

.container{
  width: 50%;
  margin: auto;
  
  
}

.comment1 , .comment2 , .comment3 {
  width: 100%;
  margin: auto;
  font-size: 150px;
  
}
  
.q-page{
  width: auto ;
  margin-bottom: 3%;
}

#pic{
  width: 100%;
  clear: both;
  column-count: 2;
  padding: 0;
}

.centerr{
  width: 60%;

}
#bold{
  width: 80%;
  margin: auto;
}
.center{
  width: 80%;
  margin: auto;
  
}

table, th, td {
  border: 2px solid;
  width: 40%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  
}

table {
  width: 50%;
  color: #302727 ;
}

th {
  height: 40px;
}


#map-embed{
  width: 100%;
  height: 300px;
 }

}





/* for medium screen size 1024px wid and dowm */

@media screen and (max-width: 1024px) {
  
  .fimage{
    height: 335px;
    width: 100%;
}

.start{
  width: 100%;
  height: 70%;
}

.menu{

  width: auto 0;
  height: 70%;
  margin-top: 13px;
  font-size: medium;
  
}

.container{
  width: 50%;
  margin: auto;
  font-size: small;
  
}

.comment1 , .comment2 , .comment3 {
  width: 100%;
  margin: auto;
  font-size: 100px;
  
}
  
.q-page{
  width: auto ;
  margin-bottom: 3%;
}

#pic{
  width: 100%;
  clear: both;
  column-count: 2;
  padding: 0;
}

.centerr{
  width: 60%;

}
#bold{
  width: 80%;
  margin: auto;
}
.center{
  width: 80%;
  margin: auto;
  
}

table, th, td {
  border: 2px solid;
  width: 40%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  
}

table {
  width: 50%;
  color: #302727 ;
}

th {
  height: 40px;
}


#map-embed{
  width: 100%;
  height: 200px;
 }

}




/* for medium screen size 425px wid and dowm */

@media screen and (max-width: 425px) {
 

  .fimage{
    height: 300px;
    width: 100%;
}

.start{
  width: 100%;
  height: 10%;
  
}

.menu{

  width: auto 0;
  height: 70%;
  margin-top: 13px;
  font-size: 12px;
  
}

.container{
  width: 50%;
  font-size: 10px;
  margin-right: 40%;
  
}

.comment1 , .comment2 , .comment3 {
  width: 98%;
  margin: auto;
  font-size: xx-small;
  
}
  
.q-page{
  width: auto ;
  margin-bottom: 3%;
  
}

#pic{
  width: 100%;
  clear: both;
  column-count: 2;
  padding: 0;
}

.centerr{
  width: 70%;

}
#bold{
  width: 80%;
  margin: auto;
  font-size: 14px;
}
.center{
  width: 80%;
  margin: auto;
  
}

table, th, td {
  border: 2px solid;
  width: 40%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: small;
  
}

table {
  width: 50%;
  color: #302727 ;
}

th {
  height: 40px;
}

  
#map-embed{
  width: 100%;
  height: 150px;
  
 }

}

 

