@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
  
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: lato , sans-serif ;
    font-weight: 300 ;
    color: rgb(78, 13, 139);
}


.start{
    font-family: lato, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px ;
    text-align: center;
    color: #dcd9e9;
    background-color: rgb(204, 10, 10);
}
 
.fimage{
    height: inherit;
    width: auto;
    overflow: hidden;
    background: url('../images/30May-790x400-1.jpg');
}


 .menu{
    text-align: center;
    list-style-type: none;
    letter-spacing: 3px;
 }

h3 {
    font-size: xx-large;
    background-color: rgb(156, 67, 240);
    text-align: center;
    text-transform: uppercase ;
    letter-spacing: 3px;
    color: black;
    
}

h4{
    font-size: x-large;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: red;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    color: black;
}

footer{
    background-color: rgb(204, 10, 10);
    height: 50px;
}

h5{
    text-align: center;
    font-size: large;
    color: rgb(234, 228, 228);
}

.media {
    text-align: center;

}

.media > li {
    display: inline;
}

.media i {
    font-size: 160%;
    margin: 3%;
    padding: 4%;
    color: #302727;
}
  
  